= form_for(@page, :url => url, :format => :html) do |f|
  = f.error_messages  
  = labeled_input f, :title
  = labeled_input f, :headline
  = labeled_input f, :permalink
  = labeled_input f, :published, :input => f.check_box(:published)
  = labeled_input f, :keywords
  = labeled_input f, :description

  - input = f.text_area(:content, :size => "80x40", :class => 'mceEditor')
  = labeled_input f, :content, :input => input

  = unlabeled_submit f
