= form_for(@page, :url => url, :format => :html) do |f|
  = f.error_messages

  .form_section
    %h3 Visible Attributes

    = f.labeled_input :title, :comment => "Browser titlebar (optional)"
    = f.labeled_input :headline, :comment => "On-page headline (optional) "
    = f.labeled_input :permalink, :comment => "Url for this page (required)"
    = f.labeled_input :published, :comment => "Uncheck to disable this page" do
      = f.check_box(:published)

  .form_section
    %h3 Invisible Attributes for Search Engines
    = f.labeled_input :keywords
    = f.labeled_input :description

  .form_section
    %h3 Page Content
    = f.labeled_input :content do
      = f.text_area(:content, :size => "80x40", :class => 'mceEditor')

  .form_section
    %h3 Advanced Options
    .collapsed
      = f.labeled_input :css, :text => 'CSS Styles' do
        = f.text_area(:css, :size => '80x8')
  = f.unlabeled_submit "Save Page"
