- set_headline "Listing pages"

= link_to 'New page', new_admin_page_path
%br 

%table
  %tr
    %th Published
    %th Title
    %th Path

  - @pages.each do |page|
    %tr
      %td= page.published
      %td= link_to page.title, admin_page_path(page)
      %td= page.permalink
      %td= link_to 'Edit', edit_admin_page_path(page)
      %td= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete

