=page_block do
  %h3 Name:
  = @location.name

  %h3 Parent:
  = @location.parent.name if @location.parent

  - if @location.page
    %h3 Page:
    = @location.page.title
  - else
    %h3 Path:
    = @location.path

= link_to 'Edit', edit_admin_location_path(@location)  |
= link_to 'Back', admin_locations_path
