%ul.posts
  - @posts.each do |post|
    .post
      %h3= post.title
      %h4= post.updated_at
      %p= post.content
      = link_to("Full text...", page_path(post))

%ul.topics
  - @topics.each do |topic|
    %li= link_to(topic.name, topic_path(topic), :class => "full-text")

-#.archives
