- if admin?
  #admin_tools
    %h3 Admin Tools:
    %ul.admin_nav                                                 
      %li= link_to "Edit Pages", admin_pages_path
      %li= link_to "Edit Menu", admin_locations_path 
      %li= link_to "Upload Documents", admin_upload_documents_path
      %li= link_to "Upload Images", admin_upload_images_path
      %li= button_to "Log out", user_session_path, :method => 'delete'
